<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ControllerCadastrar</servlet-name>
        <servlet-class>controller.ControllerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Promocoes</servlet-name>
        <servlet-class>controller.Promocoes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Masculina</servlet-name>
        <servlet-class>controller.Masculina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feminina</servlet-name>
        <servlet-class>controller.Feminina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Infantil</servlet-name>
        <servlet-class>controller.Infantil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lancamentos</servlet-name>
        <servlet-class>controller.lancamentos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroController</servlet-name>
        <servlet-class>controller.CadastroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroProd</servlet-name>
        <servlet-class>controller.CadastroProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosC</servlet-name>
        <servlet-class>controller.ProdutosC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoInd</servlet-name>
        <servlet-class>controller.ProdutoInd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoController</servlet-name>
        <servlet-class>controller.CarrinhoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adm</servlet-name>
        <servlet-class>controller.adm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>perfil</servlet-name>
        <servlet-class>controller.perfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProdutosC</servlet-name>
        <url-pattern>/Produtos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Promocoes</servlet-name>
        <url-pattern>/Promocoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Masculina</servlet-name>
        <url-pattern>/Masculina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feminina</servlet-name>
        <url-pattern>/Feminina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Infantil</servlet-name>
        <url-pattern>/Infantil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lancamentos</servlet-name>
        <url-pattern>/lancamentos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroProd</servlet-name>
        <url-pattern>/CadastroProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoInd</servlet-name>
        <url-pattern>/ProdutoInd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoController</servlet-name>
        <url-pattern>/CarrinhoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adm</servlet-name>
        <url-pattern>/adm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>perfil</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
