body{
    background-color: rgb(255, 255, 255);
}
form{
    display: grid;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: grid;
    font-family: 'Lexend', sans-serif;
}
h2{
    font-size:medium;
}
.cadas{
    justify-content: center;
    display: grid;
    height: 50%;    
    width: 100%;
}
.enviar{
    color: rgb(0, 217, 255);
    background-color: black;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    background-color:  #3e82ff !important;
    height: 36px;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(255 255 255);
}

.img{
    color: rgb(255, 208, 0);
    background-color: black;
    border-radius: none;
}
.preco{
    width: 80px;
}
.tamanho{
    width: 50px;
}
.qtd{
    width: 50px;
}