body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffffff !important;
}

header {
    width: 100%;
    height: 150px;
    border: none;
    padding: 0;
}

main {
    display: grid;

}

.navbar {
    height: 140px;
    background-color: #3e82ff !important;
}
#carouselExampleControls{
    background-color: #000000;
    width: 100%;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: large;
}
.fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
    color: white;
}
.fa-shopping-cart {
    color: #f3faf6;
    font-size: 25px;
}
.fa-circle-user:before{
    color: white;
    font-size: 25px;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-sm, .navbar>.container-md, .navbar>.container-lg, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    background-color: #001f58 !important;
  }

.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--mdb-dropdown-item-padding-y) var(--mdb-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--mdb-dropdown-link-color);
    text-align: inherit;
    white-space: nowrap;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
    border: 0;
    border-radius: var(--mdb-dropdown-item-border-radius, 0);
}

.container {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;

}

.container img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
}

.container .produto {
    width: 270px;
    height: 430px;
    color: #000000;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: -11px 11px 20px 4px rgba(0, 0, 0, 0.397), 0 6px 15px 0 rgba(0, 0, 0, 0.514);
    background-repeat: no-repeat;
}

.container .produto input {
    width: 160px;
    height: 40px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background: #459500;
    color: white;
    transition: all 0.3s ease-in-out 0.1s;
    cursor: pointer;
}

.container .produto input:hover {
    background-color: #ffffff;
    color: #459500;
    border: 2px solid #459500;
}

.container .produto h2 {
    margin: 0;
    margin-top: 20px;
    font-family: "Zen Dots", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #575757;
}

.container .produto p {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 25px;
    color: #14a44d;
    font-family: 'Lexend', sans-serif;
    
}

#carouselExampleControls {
    margin-top: 40px;
}

img {
    display: grid;
}

.bg-light {
    background-color: #00369b !important;
    height: 160px;
    
}
.btnPesquisa{
    color: #ffffff;
    background-color:transparent;
    width: 40px;
    height: 40px;
    font-size: 20px;
}
.form-control {
    border-radius: 30px;
    margin: 0;
    padding: 0;
}
.btn-primary {
    --mdb-btn-bg: #3b71ca;
    --mdb-btn-color: #fff;
    --mdb-btn-box-shadow: 0 4px 9px -4px #386bc0;
    --mdb-btn-hover-bg: #386bc0;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #386bc0;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #3566b6;
    --mdb-btn-active-color: #fff;
    --mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(56, 107, 192, 0.3), 0 4px 18px 0 rgba(56, 107, 192, 0.2);
    width: 160px;
}
.btn .btn-outline-success .my-2 .my-sm-0 .lupa {
    color: #000000;
    background-color: #000000;
}

.btn-outline-success {
    color: #ffffff;
    background-color: transparent;
}

.btn-outline-success {
    --mdb-btn-bg: transparent;
    --mdb-btn-color: #14a44d;
    --mdb-btn-hover-bg: #f3faf6;
    --mdb-btn-hover-color: #139c49;
    --mdb-btn-focus-bg: #f3faf6;
    --mdb-btn-focus-color: #139c49;
    --mdb-btn-active-bg: #f3faf6;
    --mdb-btn-active-color: #129445;
    --mdb-btn-outline-border-color: #14a44d;
    --mdb-btn-outline-focus-border-color: #10833e;
    --mdb-btn-outline-hover-border-color: #10833e;
    border-color: var(--mdb-btn-outline-border-color);
}

.btn-outline-succes {
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    border: #000000;
}

.btn-outline-succes:hover {
    color: white !important;
}

.btn-outline-success {
    color: #ffffff;
    background-color: transparent;

}

.btn-outline-success :hover {
    color: #fdfdfd;
}

div .cat {
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: medium;
}

.img1 {
    width: 100%;
    height: 550px;
    justify-content: center;
    display: grid;
    margin-bottom: 30px;
    margin-top: 40px;
}

video {
    width: 100%;
    height: 80%;
    justify-content: center;
    display: grid;
    margin-top: 200px;
}

h1 {
    margin-top: 70px;
    margin-bottom: 100px;
    justify-content: center;
    display: grid;
    font-family: 'Lexend', sans-serif;
    color: #041433;
}

h4 {
    justify-content: center;
    display: grid;
    margin-bottom: 30px;

}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    background-color: #001f58!important;
    height: 36px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(156, 156, 156) !important;
    transition:0.6s;
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: #000000;
}

.form-inline {
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    margin-right: 90px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fafafa;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.redes {
    margin-top: 10%;
    border-bottom: 40px;
}
.bg-body-tertiary {
    --mdb-bg-opacity: 1;
    background-color: #001f58 !important;
    z-index: 40;
}
.row {
    --mdb-gutter-x: 1.5rem;
    --mdb-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--mdb-gutter-y));
    margin-right: calc(-0.5* var(--mdb-gutter-x));
    margin-left: calc(-0.5* var(--mdb-gutter-x));
    justify-content: space-between;
}
footer {
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 0;
    display: grid;
    color: rgb(255, 255, 255);
    background-size: 100% 100%;
    justify-content: space-around;
    justify-items: center;
    margin-top: 25%;
    align-content: center;
}