.btn-secondary {
  color: #ffffff;
  width: 220px;
  border-radius: 15px;
  margin-left: 0px;
}

.bg-body-tertiary {
  --mdb-bg-opacity: 1;
  background-color: #001f58 !important;
  z-index: 10;
}

.navbar {
  height: 140px;
}

.fa-circle-user:before {
  color: white;
  font-size: 25px;
  background-color: #001f58 !important;
  margin-right:30px ;
}
.fa-chevron-left:before {
  content: "\f053";
  color: #000000 !important;
  font-size: smaller
}
a .back{
  color: #000000;
  text-decoration: none;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-sm, .navbar>.container-md, .navbar>.container-lg, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  background-color: #001f58 !important;
}
.fa-bars:before, .fa-navicon:before {
  content: "\f0c9";
  color: white;
}
h2 {
  margin-left: 50px;
}
.back{
  font-size: large;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: large;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  font-size: large;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--mdb-dropdown-item-padding-y) var(--mdb-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--mdb-dropdown-link-color);
  text-align: inherit;
  white-space: nowrap;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-around;
  border: 0;
  border-radius: var(--mdb-dropdown-item-border-radius, 0);
}

element.style {
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(15px, 36px, 0px);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.fa-shopping-cart {
  color: #f3faf6;
  font-size: 25px;
}

.dropdown-toggleP {
  margin-top: 17px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.mei {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.produto {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
}

.produto h2 {
  color: #000000;
  font-family: 'Lexend', sans-serif;
  font-size: 30px;
  margin-top: 0;
  margin-left: 210px;
}

#imgPrt {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-left: 160px;
}

#preco {
  font-size: 30px;
  font-weight: bold;
  color: #28a745;
  margin-bottom: 10px;
  font-family: 'Lexend', sans-serif;
}

#desc {
  color: #b1b1b1;
  margin-bottom: 20px;
  font-family: 'Lexend', sans-serif;
  margin-bottom: 10px;
}

.dropdown {
  margin-bottom: 20px;
}

.dropdown-item {
  font-size: 18px;
  color: #333;
  font-family: 'Lexend', sans-serif;
  background-color: #ffffff;

}

.dropdown-toggle {
  border: none;
}

.dropdown-toggle {
  background-color: #001f58 !important;
  border: none;
}

.dropdown-toggle:hover {
  background-color: #34acfc;
  color: white;
}

.dropdown-menu {
  border: none;
  border-radius: 10px;
}

.dropdown-menu .dropdown-item {
  color: #333;
}

.btn-comprar {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  height: 60px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btn-comprar:hover {
  background-color: #00b327;
}

.btn-comprar:hover {
  background-color: #00b336;
  color: rgb(255, 255, 255);
}


.bg-body-tertiary {
  --mdb-bg-opacity: 1;
  background-color: #001f58 !important;
}

.row {
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--mdb-gutter-y));
  margin-right: calc(-0.5* var(--mdb-gutter-x));
  margin-left: calc(-0.5* var(--mdb-gutter-x));
  justify-content: space-between;
}

.modal-confirm {
  color: #636363;
  width: 325px;
  margin: 30px auto;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
  margin-left: 30%;
}

.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}

.modal-confirm .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}

.modal-confirm.modal-dialog {
  margin-top: 80px;
}

.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #6fb32b;
  outline: none;
}

.trigger-btn {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.trigger-btn:hover{
  color: #ffffff;
}


footer {
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 0;
  display: grid;
  color: rgb(255, 255, 255);
  background-size: 100% 100%;
  justify-content: space-around;
  justify-items: center;
  margin-top: 25%;
  align-content: center;
}